<launch>
	<arg name="Frequency"	default="10"/>
	<arg name="Message"	default="Hi! Default Message"/>
	<arg name="ThetaValue"	default="180.0"/>

	<param name="Custom_Frequency" value="$(arg Frequency)"> </param>
	<param name="msg" value="$(arg Message)"> </param>
	<param name="theta" type="double" value="$(arg ThetaValue)"> </param>
	
	<env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find atc_stm)/config/custom.conf"/>
	
	<node 
	     name="astm"
	     pkg="atc_stm"
             type="astm"
             output="screen"
  	     launch-prefix="gnome-terminal --command"/>           
	
</launch>
